.hh{
    color: green;
    text-align: center;
    font-size: 50px;
   
}

.vv{
    text-align: center;
    font-size: 40px;
}

.float{
    float: right;
    padding-bottom: 100px;
    height: 600px;
    max-width: 50%;
}

.fr-mobile{
    height: 700px;
    padding: 70px;
    background-image: url(images/mobile2.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    height: 700px;
    padding-right: 450px;
}

.head{
    margin-top: 200px;
    text-align: center;
}


.para{
    text-align: center;
}

.btn{
    margin-left: 120px;
}

.img-willi{
    border-radius: 50%;
}

.img-ed1{
    text-align: center;
}

.bubble{
    border-radius: 40px;
    float: right;
}

.last-form{
   background-image: url(images/banner-new.jpg);   
}

.center-form{
    
}
